.cardContainer {
    width: 100%;

    .cardImage{
        height: 12rem;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
        }
    }

    .cardHeading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 0.85rem;
        color: #222222;
    }

    .cardQuantity,
    .cardContent {
        flex-grow: 1;
        color: #000000a1;
        font-size: 0.8rem;
        line-height: 1.55;
        margin-top: 0.375rem;
    }

    .cardGuarantee {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        font-size: 0.8rem;
        margin-top: 0.6rem;
        color: #3b8624;
        font-weight: 600;
    }

    .cardLine {
        margin: 0.7rem 0;
        height: 0.07rem;
        width: 100%;
        background-color: #f2f2f2;
    }

    .cardButton{
        display: flex;
        justify-content: end;
    }
}