.subHeadingContainer {
    padding: 6.2rem 0 2.5rem 7.5rem;

    .subHeadingHeader {
        width: 100%;
        color: #702053;
        font-size: 3.05rem;
        font-weight: 450;
    }

    .subHeadingContent {
        width: 100%;
        padding-top: 0.2rem;
        color: #8e4f79;
        font-size: 1.48rem;
        font-weight: 350;
    }
}

.cardContainer {
    padding: 0.5rem 7.5rem 5rem;
}

@media(max-width:768px) {
    .subHeadingContainer {
        padding: 6.2rem 0 2.5rem 2.5rem;
    }

    .cardContainer {
        padding: 0.5rem 2.5rem 5rem;
    }
}